body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Index_Search_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:370px;
    top:440px;
    width:270px;
    height:190px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:196px;
}

.u1 {
    position:absolute;
    left:2px;
    top:87px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:370px;
    top:440px;
    width:270px;
    height:190px
}

.u2_original {
    background-image: url('../Index_Search_files/u0_original.png');
}

.u2_container {
    position:absolute;
    left:670px;
    top:440px;
    width:270px;
    height:190px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:196px;
}

.u3 {
    position:absolute;
    left:2px;
    top:87px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:670px;
    top:440px;
    width:270px;
    height:190px
}

.u4_original {
    background-image: url('../Index_Search_files/u0_original.png');
}

.u4_container {
    position:absolute;
    left:70px;
    top:440px;
    width:270px;
    height:190px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:196px;
}

.u5 {
    position:absolute;
    left:2px;
    top:87px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:70px;
    top:440px;
    width:270px;
    height:190px
}

.u6_original {
    background-image: url('../Index_Search_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:360px;
    top:90px;
    width:340px;
    height:140px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:346px;
    height:146px;
}

.u7 {
    position:absolute;
    left:2px;
    top:62px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:360px;
    top:90px;
    width:340px;
    height:140px
}

.u8_original {
    background-image: url('../Title_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:80px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:86px;
}

.u9 {
    position:absolute;
    left:2px;
    top:32px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:80px
}

.u10 {
    position:absolute;
    left:440px;
    top:30px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:170px;
    top:300px;
    width:570px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_container {
    position:absolute;
    left:390px;
    top:102px;
    width:270px;
    height:109px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:270px;
    height:109px;
}

.u14 {
    position:absolute;
    left:2px;
    top:46px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:390px;
    top:161px;
    width:270px;
    height:109px
}

.u15_original {
    background-image: url('../Index_Search_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:800px;
    top:300px;
    width:30px;
    height:30px;
    background-image: url('../Index_Search_files/u15_original.png');
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u16 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:800px;
    top:300px;
    width:30px;
    height:30px
}

.u17_original {
    background-image: url('../Index_Search_files/u17_original.png');
}

.u17_container {
	background-image: url('../Index_Search_files/u17_original.png');
    position:absolute;
    left:760px;
    top:300px;
    width:30px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u18 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:760px;
    top:300px;
    width:30px;
    height:30px
}

.u20_original {
    background-image: url('../Index_Search_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:190px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:196px;
}

.u21 {
    position:absolute;
    left:2px;
    top:87px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:190px
}

.u22 {
    position:absolute;
    left:10px;
    top:10px;
    width:160px;
    height:90px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:0px;
    top:155px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_original {
    background-image: url('../Index_Search_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:8px;
    top:158px;
    width:20px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:8px;
    top:158px;
    width:20px;
    height:20px
}

.u29 {
    position:absolute;
    left:100px;
    top:155px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30_original {
    background-image: url('../Index_Search_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:108px;
    top:158px;
    width:20px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:108px;
    top:158px;
    width:20px;
    height:20px
}

.u32_original {
    background-image: url('../Buttom_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:-4px;
    top:650px;
    width:1024px;
    height:40px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:46px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:-4px;
    top:650px;
    width:1024px;
    height:40px
}

.u34_container {
    position:absolute;
    left:123px;
    top:654px;
    width:135px;
    height:30px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:135px;
    height:30px;
}

.u35 {
    position:absolute;
    left:2px;
    top:7px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:123px;
    top:654px;
    width:135px;
    height:30px
}

.u36 {
    position:absolute;
    left:6px;
    top:658px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:826px;
    top:660px;
    width:190px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:130px;
    top:414px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_original {
    background-image: url('../Index_Search_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:740px;
    height:250px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:746px;
    height:256px;
}

.u42 {
    position:absolute;
    left:2px;
    top:117px;
    width:736px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:740px;
    height:250px
}

.u43_original {
    background-image: url('../Index_Search_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:10px;
    top:10px;
    width:230px;
    height:230px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:230px;
}

.u44 {
    position:absolute;
    left:2px;
    top:107px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:10px;
    top:10px;
    width:230px;
    height:230px
}

.u45 {
    position:absolute;
    left:280px;
    top:44px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:280px;
    top:194px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:360px;
    top:110px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48_original {
    background-image: url('../Index_Search_files/u27_original.png');
}

.u48_container {
    position:absolute;
    left:370px;
    top:112px;
    width:20px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:370px;
    top:112px;
    width:20px;
    height:20px
}

.u50 {
    position:absolute;
    left:500px;
    top:110px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51_original {
    background-image: url('../Index_Search_files/u30_original.png');
}

.u51_container {
    position:absolute;
    left:510px;
    top:112px;
    width:20px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:510px;
    top:112px;
    width:20px;
    height:20px
}

.u53_original {
    background-image: url('../Index_Search_files/u41_original.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:740px;
    height:250px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:746px;
    height:256px;
}

.u54 {
    position:absolute;
    left:2px;
    top:117px;
    width:736px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:740px;
    height:250px
}

.u55_original {
    background-image: url('../Index_Search_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:10px;
    top:10px;
    width:230px;
    height:230px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:230px;
}

.u56 {
    position:absolute;
    left:2px;
    top:107px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:10px;
    top:10px;
    width:230px;
    height:230px
}

.u57 {
    position:absolute;
    left:320px;
    top:64px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:320px;
    top:100px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:390px;
    top:60px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:390px;
    top:95px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:350px;
    top:185px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62_original {
    background-image: url('../Index_Search_files/u62_original.png');
}

.u62_container {
    position:absolute;
    left:358px;
    top:188px;
    width:20px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:358px;
    top:188px;
    width:20px;
    height:20px
}

.u64 {
    position:absolute;
    left:500px;
    top:185px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65_original {
    background-image: url('../Index_Search_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:508px;
    top:188px;
    width:20px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:508px;
    top:188px;
    width:20px;
    height:20px
}

.u68 {
    position:absolute;
    left:60px;
    top:17px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_original {
    background-image: url('../Index_Search_files/u69_original.png');
}

.u69_container {
    position:absolute;
    left:200px;
    top:10px;
    width:30px;
    height:30px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u70 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:200px;
    top:10px;
    width:30px;
    height:30px
}

.u71 {
    position:absolute;
    left:60px;
    top:17px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_original {
    background-image: url('../Index_Search_files/u72_original.png');
}

.u72_container {
    position:absolute;
    left:200px;
    top:10px;
    width:30px;
    height:30px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u73 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:200px;
    top:10px;
    width:30px;
    height:30px
}

.u74 {
    position:absolute;
    left:30px;
    top:100px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_text {
    position:absolute;
    left:160px;
    top:100px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:160px;
    top:100px;
    width:30px;
    height:16px
}

.u77 {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79_original {
    background-image: url('../工具箱套装_files/u79_original.png');
}

.u79_container {
    position:absolute;
    left:980px;
    top:190px;
    width:50px;
    height:160px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:166px;
}

.u80 {
    position:absolute;
    left:2px;
    top:56px;
    width:46px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:980px;
    top:190px;
    width:50px;
    height:160px
}

.u81_original {
    background-image: url('../工具箱套装_files/u81_original.png');
}

.u81_container {
    position:absolute;
    left:980px;
    top:190px;
    width:50px;
    height:50px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u82 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:980px;
    top:190px;
    width:50px;
    height:50px
}

.u84_original {
    background-image: url('../工具箱套装_files/u84_original.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:0px;
    width:520px;
    height:290px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:526px;
    height:296px;
}

.u85 {
    position:absolute;
    left:2px;
    top:137px;
    width:516px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:520px;
    height:290px
}

.u86_original {
    background-image: url('../工具箱套装_files/u86_original.png');
}

.u86_container {
    position:absolute;
    left:11px;
    top:238px;
    width:489px;
    height:48px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:495px;
    height:54px;
}

.u87 {
    position:absolute;
    left:2px;
    top:16px;
    width:485px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:11px;
    top:238px;
    width:489px;
    height:48px
}

.u88_original {
    background-image: url('../工具箱_files/u88_original.png');
}

.u88_container {
    position:absolute;
    left:164px;
    top:20px;
    width:76px;
    height:76px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:76px;
}

.u89 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:164px;
    top:20px;
    width:76px;
    height:76px
}

.u90_original {
    background-image: url('../工具箱_files/u90_original.png');
}

.u90_container {
    position:absolute;
    left:284px;
    top:20px;
    width:76px;
    height:76px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:76px;
}

.u91 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:284px;
    top:20px;
    width:76px;
    height:76px
}

.u92 {
    position:absolute;
    left:175px;
    top:114px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:300px;
    top:114px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_original {
    background-image: url('../工具箱_files/u94_original.png');
}

.u94_container {
    position:absolute;
    left:404px;
    top:20px;
    width:76px;
    height:76px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:76px;
}

.u95 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:404px;
    top:20px;
    width:76px;
    height:76px
}

.u96 {
    position:absolute;
    left:410px;
    top:114px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_original {
    background-image: url('../工具箱_files/u97_original.png');
}

.u97_container {
    position:absolute;
    left:44px;
    top:160px;
    width:76px;
    height:76px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:76px;
}

.u98 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:44px;
    top:160px;
    width:76px;
    height:76px
}

.u99 {
    position:absolute;
    left:50px;
    top:254px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_original {
    background-image: url('../工具箱_files/u100_original.png');
}

.u100_container {
    position:absolute;
    left:44px;
    top:20px;
    width:76px;
    height:76px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:76px;
}

.u101 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:44px;
    top:20px;
    width:76px;
    height:76px
}

.u102 {
    position:absolute;
    left:55px;
    top:114px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

